<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\Logs\nlog\internal-nlog.txt">
  <targets>
    <target name="PrimaryLogFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
            xsi:type="File" fileName="C:\Logs\business-rules\service-${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log"
            archiveFileName="C:\Logs\business-rules\service.archive.{#}.log" archiveEvery="Day" archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd HH-mm-ss" maxArchiveFiles="10" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="PrimaryLogFile" />
  </rules>
</nlog>